<template>
    <div class="container">
        <div class="row justify-content-center">
            <div :class="defineTamanho">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['tamanho'],

        computed: {
            defineTamanho: function () {
                let col = parseInt(this.tamanho);

                if (col > 12 || isNaN(col)) {
                    col = 12;
                }

                if (col < 2) {
                    col = 2;
                }

                if (col % 2 === 1) {
                    col += 1;
                }

                return "col-md-" + col;
            }
        }
    }
</script>

<style scoped>

</style>