<template>
    <div class="card card-default">
        <div :class="defineCor">{{ titulo }}</div>

        <div class="card-body">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['titulo', 'cor'],

        computed: {
            defineCor: function() {
                let textColor = 'text-white';

                if (this.cor == 'bg-light') {
                    textColor = 'text-black';
                }

                return "card-header " + (this.cor || "bg-primary") + " " + textColor;
            }
        }
    }
</script>

<style>
    .bg-dark-blue {
        background-color: #0d4a96;
    }

    .bg-orange {
        background-color: #e85e0d;
    }
</style>